@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
 

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    background-color: #20293A;
    background-image: url('./assets/hero-image-github-profile.png');
    background-position:top;
    background-repeat: no-repeat;
    color: #CDD5E0;
    background-size: contain;
  
}
@media screen and (max-width:640px) {
   body{
    background-size: 1324px;
   } 
}